[Unit]
After=network.target
Description=universal_tarjimon

[Service]
Type=simple
WorkingDirectory=/root/TGBOTS/universaltarjimon
ExecStart=/root/TGBOTS/universaltarjimon/venv/bin/python3.10 app.py
Restart=always

[Install]
WantedBy=multi-user.target